<html>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Allerta+Stencil"
  />
  <style>
    .w3-allerta {
      font-family: 'Allerta Stencil', Sans-serif;
    }
  </style>
  <body>
    <div class="w3-container w3-red w3-center w3-allerta">
      <p class="w3-xlarge" style="font-size: 50px">
        Enter Image Name to Delete
      </p>
    </div>
  </body>

  <br /><br />
  <form method="GET" action="/delete" enctype="multipart/form-data">
    <label for="image_name">Image name</label>
    <input type="text" id="image_name" name="image_name" /><br /><br />

    <input type="submit" />
  </form>
</html>
