<!DOCTYPE html>
<html>
  <title>Image Metadata Extractor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="w3-container">
      <h2 style="text-align: center">Welcome</h2>
      <p1>Image Metadata Extractor</p1>
      <br /><br />
      <p2>Choose your option</p2>
      <br />

      <div class="w3-show-inline-block">
        <div class="w3-bar">
          <button
            onclick="location.href='/upload'"
            type="button"
            class="w3-btn w3-black"
          >
            Upload Images
          </button>
          <button class="w3-btn w3-teal">View Metadata</button>
          <button class="w3-btn w3-red">Delete All Images</button>
        </div>
      </div>
    </div>
  </body>
</html>
