<!DOCTYPE html>
<html>
  <title>Image Metadata Extractor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="w3-container" align="center">
      <h2 style="text-align: center"><b>Welcome</b></h2>
      <h3>Image Metadata Extractor</h3>
      <h4><b>Guest</b></h4>
      <br />
      <p2>Choose your option</p2>
      <br><br>

      <div class="w3-show-inline-block">
        <div class="w3-bar">
          <button
            onclick="location.href='/search'"
            type="button"
            class="w3-btn w3-black"
          >
            Search for Images
          </button>
        </div>
        <br>
        <button
            onclick="location.href='/'"
            type="button"
            class="w3-btn w3-grey"
          >
            Log Out
          </button>
      </div>
    </div>
  </body>
</html>
